@import "tailwindcss";

@layer base, components, utilities;

@theme inline {
  --color-background: #f5f7f9;
  --color-foreground: #29303f;
  --color-accent: #3c7fff;
}

@layer components {
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }
}

.progress {
  @apply fixed start-0 end-0 h-[5px] bg-accent bottom-[100px];
}

.parallax {
  @apply overflow-hidden tracking-[-2px] leading-[0.8] m-0 whitespace-nowrap flex flex-nowrap;
}

.parallax .scroller {
  @apply font-bold uppercase text-9xl flex whitespace-nowrap flex-nowrap text-foreground/20;
}

.parallax span {
  @apply block mr-[30px];
}


*::-webkit-scrollbar {
  display: none;
}